.grid-container {
  margin: 10px;
  width: 100%;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.example-card {
  margin-bottom: 8px;
  /* max-width: 200px; */
  /* width: 100%; */
}

.dashboard-container {
  background-color: blueviolet;
  width: 100%;
  height: 100px;

}

.dashboard-card {
  width: 200px;
  height: 50px;
  float: left;
  background-color: brown;
}


.category-chart {
	min-width: 400px;
	min-height: 320px;
	flex-grow: 1;
	flex-basis: 0;
}



.category-chart_2 {
	min-height: 400px;
	//position: absolute;
	width: 800px;
	//overflow-x: hidden;
	flex-basis: 50%;
	flex-shrink: 1;
	display: flex;
}

.chart2 { 
	width: 100%;
	justify-content: center;
}