<div class="flex">
  <!-- Cards with media area -->

  <div class="flex justify-around flex-grow">
    <div class=" w-80">
      <mat-card class="h-40">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Total Installed: 112 </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Online:</p>
          <p>Offline:</p>
          <p>Testing:</p>
        </mat-card-content>
      </mat-card>

    </div>

    <div class=" w-80">
      <mat-card class="h-40">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Total Armed: 4 </mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Full Arm:</p>
          <p>Half Arm:</p>
          <p>Disarmed:</p>
        </mat-card-content>
      </mat-card>

    </div>

    <div class=" w-80">
      <mat-card class="h-40">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Alarms: 2023-11-12 Mid-night</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Panic:</p>
          <p>Community:</p>
          <p>False:</p>
        </mat-card-content>
      </mat-card>

    </div>

    <div class="w-80">
      <mat-card class="h-40">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Doorbells</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>Triggered</p>
          <p>Acknowledged</p>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
  <div class="flex justify-around flex-grow">

    <!-- <div [chart]="chart8" class="category-chart_2  chart2"></div> -->

  </div>
</div>