<form [formGroup]="myform" (ngSubmit)="save()">
    <h1 mat-dialog-title>New Network Enrollment Form</h1>

    <div mat-dialog-content>

        <!-- deviceNumber,serialNumber,phone,stage,status -->
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Network Name</mat-label>
                <input matInput placeholder="Network Name" required formControlName="name">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Code</mat-label>
                <input matInput placeholder="Code" required formControlName="code">
            </mat-form-field>
        </p>

        <p>
            <mat-form-field appearance="fill">
                <mat-label>Community</mat-label>
                <mat-select placeholder="community" formControlName="status">
                    <!-- <mat-option value="ROLLED_OUT">Rolled Out</mat-option>
                    <mat-option value="NOT_ROLLED_OUT">Not Rolled Out</mat-option> -->
                </mat-select> 
            </mat-form-field>
        </p> 

    </div>
    <div mat-dialog-actions>

        <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
        <button mat-raised-button color="primary">Submit</button>
    </div>
</form>